In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Billboard data CSV:
billboard_csv = './billboard.csv'

# We need to use encoding='latin-1' to deal with non-ASCII characters.
df = pd.read_csv(billboard_csv, encoding='latin-1')

In [32]:
df.columns[7:84]

Index(['x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week', 'x5th.week',
       'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week', 'x10th.week',
       'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week', 'x15th.week',
       'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week', 'x20th.week',
       'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week',
       'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week', 'x30th.week',
       'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week', 'x35th.week',
       'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week', 'x40th.week',
       'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week',
       'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week', 'x50th.week',
       'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week', 'x55th.week',
       'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week', 'x60th.week',
       'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week',
       'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week', 'x70th.week',
       'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week', 'x75th.week',
       'x76th.week'],
      dtype='object')

In [35]:
list1 = df.columns[7:15]
list2 = df.columns[16:84]

In [43]:
df.rename(columns=lambda x: x[1] if x in list1 else x)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1,2,3,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df.rename(columns=lambda x: x[1:3] if x in list2 else x)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,67,68,69,70,71,72,73,74,75,76
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.describe()

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
group_by_genre = df.groupby("genre")

In [49]:
group_by_genre.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,81,68.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,77,54.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,92,80.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2000,Eminem,The Real Slim Shady,4:42,Rap,2000-05-06,2000-06-24,70,32.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2000,Blaque,Bring It All To Me,3:46,Pop,1999-10-23,2000-01-22,73,63.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2000,"Elliott, Missy ""Misdemeanor""",Hot Boyz,3:51,Rap,1999-11-27,2000-01-08,36,21.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2000,Eiffel 65,Blue (Da Ba Dee),3:29,Electronica,1999-12-11,2000-01-29,67,29.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,100,99.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,2000-01-08,89,89.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2000,"Rimes, LeAnn",I Need You,3:42,Country,2000-05-27,2000-08-12,77,68.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2000,"Martin, Ricky",She Bangs,4:02,Latin,2000-10-07,2000-12-02,38,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2000,Profyle,Liar,3:57,R&B,2000-09-16,2000-10-28,52,32.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2000,"Dixie Chicks, The",Goodbye Earl,4:19,Country,2000-03-18,2000-05-06,40,29.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2000,Guy,Dancin',4:08,R&B,1999-12-18,2000-01-01,46,29.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2000,Hanson,This Time Around,4:14,Country,2000-04-22,2000-05-06,22,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2000,"Simpson, Jessica",I Think I'm In Love With You,3:32,Pop,2000-07-01,2000-08-12,63,52.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2000,M2M,Don't Say You Love Me,3:41,Pop,1999-11-20,2000-01-08,72,53.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2000,"Brock, Chad",Yes!,3:22,Country,2000-04-08,2000-07-01,90,77.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2000,"Martin, Ricky",Shake Your Bon-Bon,3:08,Latin,1999-11-20,2000-02-12,74,66.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2000,"Moore, Mandy",I Wanna Be With You,4:12,Pop,2000-06-17,2000-08-12,69,63.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2000,D'Angelo,Untitled (How Does It Feel),7:10,R&B,2000-01-22,2000-02-19,77,56.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2000,Son By Four,A Puro Dolor (Purest Of Pain),3:30,Latin,2000-04-08,2000-08-19,80,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,2000,Alice Deejay,Better Off Alone,6:50,Electronica,2000-04-08,2000-06-03,79,65.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,2000,Hoku,Another Dumb Blonde,3:47,Pop,2000-02-19,2000-04-08,69,49.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2000,J-Shin,One Night Stand,4:34,R&B,1999-12-25,2000-02-26,96,96.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2000,"Carter, Aaron",Aaron's Party (Come Get It),3:23,R&B,2000-08-26,2000-09-16,99,75.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2000,Beenie Man,Girls Dem Sugar,4:17,Reggae,2000-10-21,2000-12-02,72,72.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2000,"Adams, Yolanda",Open My Heart,5:30,Gospel,2000-08-26,2000-10-21,76,76.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,2000,Fatboy Slim,The Rockafeller Skank,4:00,Electronica,1999-11-13,2000-01-22,94,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,98,96.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df['artist.inverted']

0          Destiny's Child
1                  Santana
2            Savage Garden
3                  Madonna
4      Aguilera, Christina
              ...
312       Ghostface Killah
313            Smith, Will
314          Zombie Nation
315         Eastsidaz, The
316                 Fragma
Name: artist.inverted, Length: 317, dtype: object

In [52]:
artist_names = df['artist.inverted']

In [55]:
sorted(artist_names)

['2 Pac',
 '2Ge+her',
 '3 Doors Down',
 '3 Doors Down',
 '504 Boyz',
 '98¡',
 'A*Teens',
 'Aaliyah',
 'Aaliyah',
 'Adams, Yolanda',
 'Adkins, Trace',
 'Aguilera, Christina',
 'Aguilera, Christina',
 'Aguilera, Christina',
 'Alice Deejay',
 'Allan, Gary',
 'Amber',
 'Anastacia',
 'Anthony, Marc',
 'Anthony, Marc',
 'Avant',
 'Avant',
 'BBMak',
 'Backstreet Boys, The',
 'Backstreet Boys, The',
 'Backstreet Boys, The',
 'Badu, Erkyah',
 'Baha Men',
 'Barenaked Ladies',
 'Beenie Man',
 'Before Dark',
 'Bega, Lou',
 'Big Punisher',
 'Black Rob',
 'Black, Clint',
 'Blaque',
 'Blige, Mary J.',
 'Blige, Mary J.',
 'Blink-182',
 'Bloodhound Gang',
 'Bon Jovi',
 'Braxton, Toni',
 'Braxton, Toni',
 'Braxton, Toni',
 'Brock, Chad',
 'Brock, Chad',
 'Brooks & Dunn',
 'Brooks, Garth',
 'Byrd, Tracy',
 'Cagle, Chris',
 "Cam'ron",
 'Carey, Mariah',
 'Carey, Mariah',
 'Carter, Aaron',
 'Carter, Torrey',
 'Changing Faces',
 'Chesney, Kenny',
 'Chesney, Kenny',
 'Clark Family Experience',
 'Clark, Terri',
 'Common',
 'Counting Crows',
 'Creed',
 'Creed',
 'Cyrus, Billy Ray',
 "D'Angelo",
 "D'Angelo",
 'DMX',
 'DMX',
 'DMX',
 'Da Brat',
 'Da Brat',
 'Davidson, Clay',
 'De La Soul',
 "Destiny's Child",
 "Destiny's Child",
 "Destiny's Child",
 'Diffie, Joe',
 'Diffie, Joe',
 'Dion, Celine',
 'Dixie Chicks, The',
 'Dixie Chicks, The',
 'Dixie Chicks, The',
 'Dixie Chicks, The',
 'Dr. Dre',
 'Dr. Dre',
 'Drama',
 'Dream',
 'Eastsidaz, The',
 'Eastsidaz, The',
 'Eiffel 65',
 'Elliott, Missy "Misdemeanor"',
 'Eminem',
 'Eminem',
 'Eminem',
 'En Vogue',
 'Estefan, Gloria',
 'Evans, Sara',
 'Eve',
 'Eve',
 'Everclear',
 'Fabian, Lara',
 'Fatboy Slim',
 'Filter',
 'Foo Fighters',
 'Fragma',
 'Funkmaster Flex',
 'Ghostface Killah',
 'Gill, Vince',
 'Gilman, Billy',
 'Ginuwine',
 'Ginuwine',
 'Goo Goo Dolls',
 'Gray, Macy',
 'Griggs, Andy',
 'Guy',
 'Hanson',
 'Hart, Beth',
 'Heatherly, Eric',
 'Henley, Don',
 'Herndon, Ty',
 'Hill, Faith',
 'Hill, Faith',
 'Hoku',
 'Hollister, Dave',
 'Hot Boys',
 'Houston, Whitney',
 'Houston, Whitney',
 'Houston, Whitney',
 'Houston, Whitney',
 'IMx',
 'Ice Cube',
 'Ideal',
 'Iglesias, Enrique',
 'Iglesias, Enrique',
 'J-Shin',
 'Ja Rule',
 'Jackson, Alan',
 'Jackson, Alan',
 'Jackson, Alan',
 'Jagged Edge',
 'Jagged Edge',
 'Janet',
 'Jay-Z',
 'Jay-Z',
 'Jay-Z',
 'Jay-Z',
 'Jay-Z',
 'Jean, Wyclef',
 'Joe',
 'Joe',
 'John, Elton',
 'Jones, Donell',
 'Jordan, Montell',
 'Juvenile',
 'Kandi',
 'Keith, Toby',
 'Keith, Toby',
 'Kelis',
 'Kenny G',
 'Kid Rock',
 'Kravitz, Lenny',
 'Kumbia Kings',
 'LFO',
 'LFO',
 'LL Cool J',
 'Larrieux, Amel',
 'Lawrence, Tracy',
 'Levert, Gerald',
 'Levert, Gerald',
 'Lil Bow Wow',
 'Lil Wayne',
 "Lil' Kim",
 "Lil' Kim",
 "Lil' Mo",
 "Lil' Zane",
 'Limp Bizkit',
 'Limp Bizkit',
 'Limp Bizkit',
 'Lonestar',
 'Lonestar',
 'Lonestar',
 'Lopez, Jennifer',
 'Loveless, Patty',
 'Lox',
 'Lucy Pearl',
 'Ludacris',
 'M2M',
 'M2M',
 'Madison Avenue',
 'Madonna',
 'Madonna',
 'Martin, Ricky',
 'Martin, Ricky',
 'Martin, Ricky',
 'Mary Mary',
 'Master P',
 'McBride, Martina',
 'McBride, Martina',
 'McEntire, Reba',
 'McEntire, Reba',
 'McGraw, Tim',
 'McGraw, Tim',
 'McGraw, Tim',
 'McKnight, Brian',
 'Messina, Jo Dee',
 'Messina, Jo Dee',
 'Metallica',
 'Metallica',
 'Montgomery Gentry',
 'Montgomery, John Michael',
 'Moore, Chante',
 'Moore, Mandy',
 'Mumba, Samantha',
 'Musiq',
 'Mya',
 'Mya',
 'Mystikal',
 "N'Sync",
 "N'Sync",
 "N'Sync",
 'Nas',
 'Nelly',
 'Next',
 'Nine Days',
 'Nine Days',
 'No Doubt',
 'Nu Flavor',
 'Offspring, The',
 'Paisley, Brad',
 'Paisley, Brad',
 'Papa Roach',
 'Pearl Jam',
 'Pink',
 'Pink',
 'Price, Kelly',
 'Price, Kelly',
 'Price, Kelly',
 'Profyle',
 'Puff Daddy',
 'Q-Tip',
 'R.E.M.',
 'Rascal Flatts',
 'Raye, Collin',
 'Red Hot Chili Peppers',
 'Red Hot Chili Peppers',
 'Rimes, LeAnn',
 'Rimes, LeAnn',
 'Rimes, LeAnn',
 'Rogers, Kenny',
 'Ruff Endz',
 'Sammie',
 'Santana',
 'Savage Garden',
 'Savage Garden',
 'SheDaisy',
 'SheDaisy',
 'SheDaisy',
 'Sheist, Shade',
 'Shyne',
 'Simpson, Jessica',
 'Simpson, Jessica',
 'Sisqo',
 'Sisqo',
 'Sisqo',
 'Sister Hazel',
 'Smash Mouth',
 'Smith, Will',
 'Son By Four',
 'Sonique',
 'SoulDecision',
 'Spears, Britney',
 'Spears, Britney',
 'Spears, Britney',
 'Spencer, Tracie',
 'Splender',
 'Sting',
 'Stone Temple Pilots',
 'Stone, Angie',
 'Strait, George',
 'Strait, George',
 'Sugar Ray',
 'TLC',
 'Tamar',
 'Tamia',
 'Third Eye Blind',
 'Third Eye Blind',
 'Thomas, Carl',
 'Thomas, Carl',
 'Thomas, Carl',
 'Tippin, Aaron',
 'Train',
 'Trick Daddy',
 'Trina',
 'Tritt, Travis',
 'Tuesday',
 'Urban, Keith',
 'Usher',
 'Vassar, Phil',
 'Vassar, Phil',
 'Vertical Horizon',
 'Vertical Horizon',
 'Vitamin C',
 'Vitamin C',
 'Walker, Clay',
 'Walker, Clay',
 'Wallflowers, The',
 'Westlife',
 'Williams, Robbie',
 'Wills, Mark',
 'Worley, Darryl',
 'Wright, Chely',
 'Yankee Grey',
 'Yearwood, Trisha',
 'Ying Yang Twins',
 'Zombie Nation',
 'matchbox twenty']

In [56]:
df.isnull().sum()

year                 0
artist.inverted      0
track                0
time                 0
genre                0
                  ...
x72nd.week         317
x73rd.week         317
x74th.week         317
x75th.week         317
x76th.week         317
Length: 83, dtype: int64

In [57]:
metadata_csv = './metadata.csv'

In [58]:
metadatadf = pd.read_csv(metadata_csv)

In [59]:
metadatadf.head()

,Cell Cgi,Cell Tower Location,Comm Identifier,Comm Timedate String,Comm Type,Latitude,Longitude
0,50501015388B9,REDFERN TE,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 9:40,Phone,-33.892933,151.202296
1,50501015388B9,REDFERN TE,62157ccf2910019ffd915b11fa037243b75c1624,4/1/14 9:42,Phone,-33.892933,151.202296
2,505010153111F,HAYMARKET #,c8f92bd0f4e6fb45ed7fce96fc831b283db2b642,4/1/14 13:13,Phone,-33.880329,151.205690
3,505010153111F,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 13:13,Phone,-33.880329,151.205690
4,5.05E+106,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 17:27,Phone,-33.880329,151.205690

In [62]:
locations = metadatadf.groupby("Cell Tower Location")

In [63]:
locations.head()

,Cell Cgi,Cell Tower Location,Comm Identifier,Comm Timedate String,Comm Type,Latitude,Longitude
0,50501015388B9,REDFERN TE,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 9:40,Phone,-33.892933,151.202296
1,50501015388B9,REDFERN TE,62157ccf2910019ffd915b11fa037243b75c1624,4/1/14 9:42,Phone,-33.892933,151.202296
2,505010153111F,HAYMARKET #,c8f92bd0f4e6fb45ed7fce96fc831b283db2b642,4/1/14 13:13,Phone,-33.880329,151.205690
3,505010153111F,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 13:13,Phone,-33.880329,151.205690
4,5.05E+106,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 17:27,Phone,-33.880329,151.205690
...,...,...,...,...,...,...,...
10047,50501E0503462,THOONA,NaN,3/27/15 13:23,Internet,-36.331075,146.075432
10048,50501E0503462,THOONA,NaN,3/27/15 13:23,Internet,-36.331075,146.075432
10049,50501E05043CA,BENALLA EAST,NaN,3/27/15 13:31,Internet,-36.502180,146.111770
10164,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:22,Internet,-36.167930,146.883060
10165,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:22,Internet,-36.167930,146.883060