<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Train-test Split and Cross-Validation Lab

_Authors: Joseph Nelson (DC), Kiefer Katovich (SF)_

---

## Review of train/test validation methods

We've discussed overfitting, underfitting, and how to validate the "generalizeability" of your models by testing them on unseen data. 

In this lab you'll practice two related validation methods: 
1. **train/test split**
2. **k-fold cross-validation**

Train/test split and k-fold cross-validation both serve two useful purposes:
- We prevent overfitting by not using all the data, and
- We retain some remaining data to evaluate our model.

In the case of cross-validation, the model fitting and evaluation is performed multiple times on different train/test splits of the data.

Ultimately we can the training and testing validation framework to compare multiple models on the same dataset. This could be comparisons of two linear models, or of completely different models on the same data.

## Instructions

For your independent practice, fit **three different models** on the Boston housing data. For example, you could pick three different subsets of variables, one or more polynomial models, or any other model that you like. 

**Start with train/test split validation:**
* Fix a testing/training split of the data
* Train each of your models on the training data
* Evaluate each of the models on the test data
* Rank the models by how well they score on the testing data set.

**Then try K-Fold cross-validation:**
* Perform a k-fold cross validation and use the cross-validation scores to compare your models. Did this change your rankings?
* Try a few different K-splits of the data for the same models.

If you're interested, try a variety of response variables.  We start with **MEDV** (the `.target` attribute from the dataset load method).

In [27]:
from matplotlib import pyplot as plt

import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

In [28]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

boston = load_boston()

In [29]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.DataFrame(boston.target, columns=['MEDV'])
boston = pd.concat([y,X], axis=1)
boston.head()

,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,24.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,21.6,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,34.7,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,33.4,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,36.2,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### 1. Clean up any data problems

Load the Boston housing data.  Fix any problems, if applicable.

In [30]:
# A:Done Above 

X_train

        CRIM  INDUS     DIS    TAX
127  0.25915  21.89  1.7883  437.0
429  9.33889  18.10  1.9682  666.0
177  0.05425   4.05  3.3175  296.0
143  4.09740  19.58  1.4118  403.0
490  0.20746  27.74  1.8226  711.0
..       ...    ...     ...    ...
98   0.08187   2.89  3.4952  276.0
476  4.87141  18.10  2.3053  666.0
322  0.35114   7.38  4.7211  287.0
382  9.18702  18.10  1.5804  666.0
365  4.55587  18.10  1.6132  666.0

[253 rows x 4 columns]

### 2. Select 3-4 variables with your dataset to perform a 50/50 test train split on

- Use sklearn.
- Score and plot your predictions.

In [33]:
from sklearn import metrics
feature_cols = ['CRIM','INDUS','DIS','TAX']
X = boston[feature_cols]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=123)
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
print(metrics.mean_squared_error(y_train, lr.predict(X_train)))
print(metrics.mean_squared_error(y_test, lr.predict(X_test)))

55.738340573267045
60.90763737304659

### 3. Try 70/30 and 90/10
- Score and plot.  
- How do your metrics change?

In [42]:
# A:from sklearn import metrics
feature_cols = ['CRIM','INDUS','DIS','TAX']
X = boston[feature_cols]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=123)
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
print(metrics.mean_squared_error(y_train, lr.predict(X_train)))
print(metrics.mean_squared_error(y_test, lr.predict(X_test)))

56.59044877521361
62.19881656049

In [44]:
# A:from sklearn import metrics
feature_cols = ['CRIM','INDUS','DIS','TAX']
X = boston[feature_cols]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=123)
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
print(metrics.mean_squared_error(y_train, lr.predict(X_train)))
print(metrics.mean_squared_error(y_test, lr.predict(X_test)))

52.511127722842886
109.86091478547537

### 4. Try K-Folds cross-validation with K between 5-10 for your regression. 

- What seems optimal? 
- How do your scores change?  
- What the variance of scores like?
- Try different folds to get a sense of how this impacts your score.

In [46]:
from sklearn import model_selection
kf = model_selection.KFold(n_splits=5, shuffle=True)

In [47]:
mse_values = []
scores = []
n = 0

for train_index, test_index in kf.split(X, y):
    lr = LinearRegression().fit(X.iloc[train_index], y.iloc[train_index])
    
    mse_values.append(metrics.mean_squared_error(y.iloc[test_index], lr.predict(X.iloc[test_index])))
    scores.append(lr.score(X, y))
    
    n += 1
    
    print('Model {}'.format(n))
    print('MSE: {}'.format(mse_values[n-1]))
    print('R2: {}\n'.format(scores[n-1]))

Model 1
MSE: 59.531438191518355
R2: 0.3079515437101128

Model 2
MSE: 53.86950037908226
R2: 0.31050999571911486

Model 3
MSE: 63.15944084740528
R2: 0.31008443416685716

Model 4
MSE: 58.74669307111448
R2: 0.3107160677878654

Model 5
MSE: 61.835891921379336
R2: 0.3089789202487444

### 5. [Bonus] optimize the $R^2$ score

Can you optimize your R^2 by selecting the best features and validating the model using either train/test split or K-Folds?

Your code will need to iterate through the different combinations of predictors, cross-validate the current model parameterization, and determine which set of features performed best.

The number of K-folds is up to you.

> *Hint:* the `itertools` package is useful for combinations and permutations.

In [8]:
# A:

### 5.1 Can you explain what could be wrong with this approach?

In [9]:
# A:

### 6. [Bonus] Explore another target variable and practice `patsy` formulas

Can you find another response variable, given a combination of predictors, that can be predicted accurately through the exploration of different predictors in this dataset?

**Try out using patsy to construct your target and predictor matrices from formula strings.**

> *Tip: Check out pairplots, coefficients, and pearson scores.*

In [10]:
import patsy

# A: