<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [36]:
import csv
import pandas as pd
from collections import namedtuple   # Convenient to store the data rows

data = 'chipotle.tsv'

In [48]:
df = pd.read_csv('chipotle.tsv', sep='\t')

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [49]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [59]:
df.sample(10)

,order_id,quantity,item_name,choice_description,item_price,total_item_cost,order_total
1343,549,1,Canned Soft Drink,[Coke],1.25,1.25,37.05
1357,554,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25,12.20
339,148,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",8.75,8.75,30.94
1668,675,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",9.25,9.25,18.50
603,248,1,Chips and Guacamole,NaN,4.45,4.45,16.20
998,410,1,Canned Soft Drink,[Diet Coke],1.25,1.25,18.75
356,154,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95,2.95,18.19
255,110,1,Barbacoa Crispy Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",9.25,9.25,36.00
2115,851,1,Chips and Guacamole,NaN,4.45,4.45,15.70
555,231,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25,45.10

In [50]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [58]:
df.shape

(4622, 7)

In [51]:
df.item_price = df.item_price.str.replace('$','').astype(float)

In [52]:
df['total_item_cost'] = df.item_price * df.quantity

In [53]:
df['order_total'] = df.groupby('order_id').total_item_cost.transform('sum')

In [60]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price,total_item_cost,order_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39,11.56
1,1,1,Izze,[Clementine],3.39,3.39,11.56
2,1,1,Nantucket Nectar,[Apple],3.39,3.39,11.56
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39,11.56
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96,33.96

In [57]:
# average order price
(df.groupby('order_id').order_total.max()).mean()

21.394231188658654

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [78]:
unique_sodas = df[(df.item_name == 'Canned Soda') | 
                  (df.item_name == 'Canned Soft Drink')].choice_description.unique()

In [82]:
unique_sodas = unique_sodas.tolist()
unique_sodas = [x.replace('[','') for x in unique_sodas]
unique_sodas = [x.replace(']','') for x in unique_sodas]

In [97]:
unique_sodas

['Sprite',
 'Dr. Pepper',
 'Mountain Dew',
 'Diet Dr. Pepper',
 'Coca Cola',
 'Diet Coke',
 'Coke',
 'Lemonade',
 'Nestea']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [101]:
df_burritos = df[df.item_name.str.contains("Burrito")]

In [122]:
df_burritos.sample(10)

,order_id,quantity,item_name,choice_description,item_price,total_item_cost,order_total
3530,1419,1,Steak Burrito,"Fresh Tomato (Mild), Lettuce, Pinto Beans, Ric...",8.69,8.69,21.27
1121,464,1,Chicken Burrito,"Roasted Chili Corn Salsa, Rice, Black Beans, C...",11.25,11.25,15.70
3435,1380,1,Chicken Burrito,"Fresh Tomato Salsa, Rice, Pinto Beans, Cheese,...",8.75,8.75,14.45
739,305,1,Chicken Burrito,"Tomatillo Red Chili Salsa, Guacamole, Cheese",11.25,11.25,21.75
2884,1146,1,Carnitas Burrito,"Fresh Tomato (Mild), Lettuce, Black Beans, Gua...",11.08,11.08,11.08
1211,494,1,Chicken Burrito,"Roasted Chili Corn Salsa (Medium), Rice, Chees...",8.49,8.49,19.47
4083,1635,1,Veggie Burrito,"Fresh Tomato Salsa (Mild), Roasted Chili Corn ...",8.49,8.49,16.98
588,241,1,Chicken Burrito,"Fresh Tomato Salsa (Mild), Rice, Black Beans, ...",10.98,10.98,10.98
4487,1786,1,Carnitas Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Guacamo...",11.75,11.75,197.70
2894,1151,1,Steak Burrito,"Fresh Tomato Salsa, Sour Cream, Rice, Guacamol...",11.75,11.75,14.70

In [131]:
pd.options.display.max_colwidth = 50
df_burritos.choice_description

7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
                              ...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
Name: choice_description, Length: 1172, dtype: object

In [117]:
df_burritos.choice_description = df_burritos.choice_description.str.replace('[','').str.replace(']','')

In [123]:
#average number of toppings per burrito
(df_burritos.choice_description.str.count(',')+1).mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [139]:
chipsDict = df[df.item_name.str.contains('Chips')].groupby('item_name').quantity.count().to_dict()

In [140]:
chipsDict

{'Chips': 211,
 'Chips and Fresh Tomato Salsa': 110,
 'Chips and Guacamole': 479,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 22,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 43,
 'Chips and Tomatillo Red Chili Salsa': 48,
 'Chips and Tomatillo-Green Chili Salsa': 31,
 'Chips and Tomatillo-Red Chili Salsa': 20,
 'Side of Chips': 101}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!